{
  "printWidth": 140,
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.jsonc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
